# Ignore everything
*
!*/

# Track specific files and folders
!.gitignore
!practice.ipynb
!pandas_practice.ipynb
!archive/
!complete-pandas-tutorial/data/
!complete-pandas-tutorial/data/*
!warmup-data/
!warmup-data/*
